{% extends 'indice/index.html' %}

{% block bloque_head %}
    <title>Mi plantilla</title>
{% endblock bloque_head %}

{% comment %} {% block header_index %}
    <header class="masthead">Soy otro header</header>
{% endblock %} {% endcomment %}

{% block pruebaTemplate %}

    {% block bloque_de_plantilla %}
    {% endblock bloque_de_plantilla %}
    
    Mi plantilla la mas vacia

    {% if nombre_largo < 5 %}
        <p style="color: red;">{{nombre}}</p>
        <p style="color: blue;">{{apellido}}</p>
    {% elif nombre_largo == 5%}
        <p style="color: green;">{{nombre}}</p>
        <p style="color: green;">{{apellido}}</p>
    {% else %}
        <p style="color: blue;">{{nombre}}</p>
        <p style="color: red;">{{apellido}}</p>
    {% endif %}

    {% for valor in lista %}
        <p style="color: red;">{{valor}}</p>
    {% endfor %}
{% endblock pruebaTemplate %}